ul{
  list-style-type: none;
}

.navigation{
  padding-bottom: 1vh;
  padding-top: 1vh;
}
.card{
  margin-top: 30px !important;
}
.container{
  background-color: rgb(217, 240, 249);
  position: absolute;
  width: 100%;
  height: 75%;
  bottom: 0;
}

.head{
  position: absolute;
  width: 100%;
  height: 25%;
  background-image: url("/images/backgroundHead.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}